<div class="modal fade" id="stockModal" data-bs-backdrop="true" data-bs-keyboard="false" aria-labelledby="stockModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="stockModalLabel">Edit Stock</h1>
          <button id="stockModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="stockForm" (ngSubmit)="onSubmitStock()">
            <div class="mb-3">
              <label class="form-label">Product Id</label>
              <input type="text" formControlName="id" class="form-control"/>
            </div>
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['name'].errors }"/>
            </div>
            <div class="mb-3">
              <label class="form-label">Product Details</label>
              <input type="text" formControlName="details" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['details'].errors }"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['price'].errors }"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" formControlName="stock" class="form-control" [ngClass]="{ 'is-invalid': submitted && s['stock'].errors }"/>
                <div *ngIf="submitted && s['stock'].errors" class="invalid-feedback">
                    <div *ngIf="s['stock'].errors['required']">Stock is required</div>
                    <div *ngIf="s['stock'].errors['min']">Stock cannot be negative</div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="loading"  class="btn btn-primary" (click)="onSubmitStock()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Submit
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="detailsModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="detailsModalLabel">Edit Details</h1>
          <button id="detailsModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="detailsForm" (ngSubmit)="onSubmitDetails()">
            <div class="mb-3">
              <label class="form-label">Product Id</label>
              <input type="text" formControlName="id" class="form-control"/>
            </div>
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['name'].errors }"/>
              <div *ngIf="submitted && d['name'].errors" class="invalid-feedback">
                  <div *ngIf="d['name'].errors['required']">Product name is required</div>
                  <div *ngIf="d['name'].errors['maxlength']">Product name is too long</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Product Details</label>
              <input type="text" formControlName="details" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['details'].errors }"/>
              <div *ngIf="submitted && d['details'].errors" class="invalid-feedback">
                  <div *ngIf="d['details'].errors['required']">Product detail is required</div>
                  <div *ngIf="d['details'].errors['maxlength']">Product detail is too long</div>
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['price'].errors }"/>
                <div *ngIf="submitted && d['price'].errors" class="invalid-feedback">
                    <div *ngIf="d['price'].errors['required']">Price is required</div>
                    <div *ngIf="d['price'].errors['min']">Price cannot be less than 1</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" formControlName="stock" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['stock'].errors }"/>
                <div *ngIf="submitted && d['stock'].errors" class="invalid-feedback">
                    <div *ngIf="d['stock'].errors['required']">Stock is required</div>
                    <div *ngIf="d['stock'].errors['min']">Stock cannot be negative</div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="loading"  class="btn btn-primary" (click)="onSubmitDetails()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Submit
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
          <button id="addModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="onSubmitAdd()">
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && a['name'].errors }"/>
              <div *ngIf="submitted && a['name'].errors" class="invalid-feedback">
                  <div *ngIf="a['name'].errors['required']">Product name is required</div>
                  <div *ngIf="a['name'].errors['maxlength']">Product name is too long</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Product Details</label>
              <input type="text" formControlName="details" class="form-control" [ngClass]="{ 'is-invalid': submitted && a['details'].errors }"/>
              <div *ngIf="submitted && a['details'].errors" class="invalid-feedback">
                  <div *ngIf="a['details'].errors['required']">Product detail is required</div>
                  <div *ngIf="a['details'].errors['maxlength']">Product detail is too long</div>
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && a['price'].errors }"/>
                <div *ngIf="submitted && a['price'].errors" class="invalid-feedback">
                    <div *ngIf="a['price'].errors['required']">Price is required</div>
                    <div *ngIf="a['price'].errors['min']">Price cannot be less than 1</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" formControlName="stock" class="form-control" [ngClass]="{ 'is-invalid': submitted && a['stock'].errors }"/>
                <div *ngIf="submitted && a['stock'].errors" class="invalid-feedback">
                    <div *ngIf="a['stock'].errors['required']">Stock is required</div>
                    <div *ngIf="a['stock'].errors['min']">Stock cannot be negative</div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="loading"  class="btn btn-primary" (click)="onSubmitAdd()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Submit
          </button>
        </div>
      </div>
    </div>
</div>