<div data-bs-theme="light" class="card w-auto m-5 p-2 h-auto">
    <div class="card-header position-relative">
      Your Products
      <button class="btn btn-light position-absolute top-50 end-0 translate-middle-y" type="button" (click)="addProduct()">
        Add Product
      </button>
    </div>
    <div class="card-body position-relative">
      <table class="w-auto text-center">
        <thead class="column-gap-2">
          <th>Id</th>
          <th></th>
          <th>Name</th>
          <th></th>
          <th>Details</th>
          <th></th>
          <th>Price</th>
          <th></th>
          <th>Stock</th>
        </thead>
        <tbody class="column-gap-2">
          <tr *ngFor="let product of productLst">
            <td>{{ product.id }}</td>
            <td class="m-3">|</td>
            <td>{{ product.name }}</td>
            <td class="m-3">|</td>
            <td>{{ product.details }}</td>
            <td class="m-3">|</td>
            <td>{{ product.price }}</td>
            <td class="m-3">|</td>
            <td>{{ product.stock }}</td>
            <td class="m-3">|</td>
            <td>
              <div class="dropdown">
                <button #dropdownBtn class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="getRowIndex(dropdownBtn)">
                  Edit
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="editStock()">Edit Stock</a></li>
                  <li><a class="dropdown-item" (click)="editDetails()">Edit Details</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>